@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: nunito, sans-serif;
  box-sizing: border-box;
}

@layer {
  .positive {
    color: green;
  }
}
@layer {
  .negative {
    color: red;
  }
}
@layer utilities {
  .flex-1 {
    flex: 1;
  }
}
@layer utilities {
  .flex-2 {
    flex: 2;
  }
}

@layer {
  .active {
    color: green;
    background-color: rgba(0, 128, 0, 0.05);
    padding: 5px;
    border-radius: 5px;
  }
}
@layer {
  .passive {
    color: crimson;
    background-color: crimson;
    background-color: rgba(220, 0, 0, 0.2);
    padding: 5px;
    border-radius: 5px;
  }
}
@layer {
  .pending {
    color: goldenrod;
    background-color: rgba(225, 217, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
  }
}

@layer {
  .wide {
    width: calc(100vw - 80px);
  }
}

@layer {
  .wider {
    width: calc(100vw - 160px);
  }
}
